@font-face {
    font-family: 'Everett Regular'; /*a name to be used later*/
    src: url('../fonts/TWKEverett-Regular-web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2'),
      url('../font/NeueMontreal-Bold.html') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

body {
    background-color: #DBEFFF;
}

h1 {
    font-size: 7vw;
    font-family: "Everett Regular";
    color: #002951;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.centered {
  text-align: center;
  margin-bottom: 96px;
}

.chart-container {
  width: 60%; /* Adjust the desired width of the chart container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  margin-bottom: 64px;
}

.button-container button {
  margin: 0 24px;
}


button:first-child {
  padding: 40px 96px 40px 96px;
  font-size: 24px;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #002951;
  color: #ffffff;
  font-family: "Everett Regular";
  background-color: #002951;
  /*border: 1px solid rgba(22, 76, 167, 0.6);*/
}

button:hover:first-child {
  animation: rotate 0.7s ease-in-out both;
}
button:hover span:first-child {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button:last-child {
  padding: 40px 96px 40px 96px;
  font-size: 24px;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  color: #002951;
  font-family: "Everett Regular";
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
button span:last-child {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
button:hover:last-child {
  animation: rotate 0.7s ease-in-out both;
}
button:hover span:last-child {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

