@font-face {
  font-family: 'Editoral New Light'; /*a name to be used later*/
  src: url('../fonts/EditorialNew-Light.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editoral New Thin'; /*a name to be used later*/
  src: url('../fonts/EditorialNew-Thin.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../font/NeueMontreal-Regular') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #FFF;
  font-family: 'courier';
  font-size: 16pt;
  line-height: 14pt;
}
canvas {
  display: block;
}
